<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="shortcut icon" href="/images/logo_zeldout.ico">
    <title>ZeldOut</title>
</head>

<body class="grey lighten-4">
    <header class="teal">
        <nav class="teal">
            <div id="navMain" class="nav-wrapper">
                <a href="/"><img id="logoZOWP" class="left" src="/images/logo_zeldout.png" alt="Logo ZeldOut"></a>
                <ul class="right">
                    <p id="hideout">Page d'administration de ZeldOut, le meilleur réseau professionnel de la Creuse.</p>
                </ul>
            </div>
        </nav>
    </header>
    <section id="adminSection">
        <article class="articleAdmin">
            <h2 class="hoverable"><a href="/admin/companies"> Pour gérer les entreprises.</a> </h2>
        </article>
        <article class="articleAdmin">
            <h2 class="hoverable"> <a href="/admin/people"> Pour gérer les personnes.</a></h2>
        </article>
        <article class="articleAdmin">
            <h2 class="hoverable"><a href="/admin/ads"> Pour gérer les offres.</a></h2>
        </article>
        <article class="articleAdmin">
            <h2 class="hoverable"><a href="/admin/applications"> Pour gérer les candidatures.</a></h2>
        </article>
        <article class="articleAdmin">
            <h2 class="hoverable"><a href="/logout">Se déconnecter</a></h2>
        </article>
    </section>
</body>

</html>