<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>erreur 400</title>
</head>

<body style="background-color: #f0f;">
    <p style="color: chartreuse;">Oublie pas le mot de passe, ou l'adresse mail éventuellement.. Sinon... Ok c'est pas
        très UI -friendly, mais normalement seul un testeur arrive ici :-)

        Bon on est gentil, on te laisse réessayer : <a style="color: chartreuse;" href='/'>clique ici </a></p><br>

    <img src="https://thumbs.gfycat.com/DecisiveUnimportantAvians.webp" alt="">
    <img src="https://thumbs.gfycat.com/DecisiveUnimportantAvians.webp" alt="">
    <img src="https://thumbs.gfycat.com/DecisiveUnimportantAvians.webp" alt="">
    <img src="https://thumbs.gfycat.com/DecisiveUnimportantAvians.webp" alt="">

</body>

</html>