<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perdu!!!</title>
</head>

<body>

  <span>
    Alors l'étranger ? On s'en va sans dire au revoir? <a href="/">Reviens donc</a> <br> <br>
  </span>
  <img src="https://img.freepik.com/photos-gratuite/3d-rendent-scene-du-desert_1048-4714.jpg?size=626&ext=jpg">
</body>

</html>