<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500</title>
</head>

<body>
    Une erreur est survenue, nos équipes sont sur le coup!! (ou au bar, on ne sait pas trop) <br>

    <img src="https://thumbs.gfycat.com/DecisiveUnimportantAvians.webp" alt="">
</body>

</html>