<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Ce magnifique style est pour le testeur qui teste bien notre site. -->
    <style>
        body {
            background: linear-gradient(270deg, #1a104a, #9c8bef, #c90909);
            background-size: 600% 600%;

            -webkit-animation: RunUFool 30s ease infinite;
            -moz-animation: RunUFool 30s ease infinite;
            animation: RunUFool 30s ease infinite;
        }

        @-webkit-keyframes RunUFool {
            0% {
                background-position: 0% 50%
            }

            50% {
                background-position: 100% 50%
            }

            100% {
                background-position: 0% 50%
            }
        }

        @-moz-keyframes RunUFool {
            0% {
                background-position: 0% 50%
            }

            50% {
                background-position: 100% 50%
            }

            100% {
                background-position: 0% 50%
            }
        }

        @keyframes RunUFool {
            0% {
                background-position: 0% 50%
            }

            50% {
                background-position: 100% 50%
            }

            100% {
                background-position: 0% 50%
            }
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logo_zeldout.ico">
    <title>Forbidden..</title>
</head>

<body style="color: white;">
    Vous n'avez pas l'autorisation d'être là. <br><br>

    Fuyez,pauvres fous!! Cliquez <a style="color: aqua;" href='/'> ici </a><br><br>

    <img src="https://images.assetsdelivery.com/compings_v2/leremy/leremy1702/leremy170200036.jpg" alt="dehors!">
</body>

</html>